.friends{
    flex-basis: 50%;
    position: relative;
      
}

.friends::after{
  content: '';
  display: block;

  height: 96%;
  position: absolute;
  top: 0;
  right: 0;
  border-right: 1px solid var(--colorTheme);
  box-shadow: 20px 0 20px 0 var(--colorTheme); 
}

.friendItem{
    margin: 1.5rem 0;
}

.friendItem{
    display: block;

    color: var(--colorTheme);
    text-decoration: none;
  }

  .friendAvatar{
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    object-fit: contain;

    border-radius: 50%;

    vertical-align: middle;
  }