.messages {
    display: flex;
    height: 100%;
  }

  .blockMessages{
    flex-basis: 100%;
  }


  .blockMessages{
    /* text-align: center; */
    padding: 1.5rem 1rem;
  }

   .messagesItem{
    margin: 1.5rem 0;
  }

  .messagesInput{
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .messagesInputTxt{
    /* width: 100%; */
  }

  